In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
import os
print(os.getcwd())            # Affiche le dossier de travail courant
print(os.listdir())           # Affiche les fichiers présents dans le dossier courant
# print(os.listdir('files'))  # Affiche les fichiers présents dans lanfiasave/files
#pip install openpyxl

C:\Users\yayab\PycharmProjects\Pharmacie\lanfiasave\lanfiasave
['asgi.py', 'files', 'settings.py', 'urls.py', 'wsgi.py', '__init__.py', '__pycache__']

In [60]:

data1 = pd.read_csv('files/attecoupe.csv', delimiter=';', skiprows = 12)
data2 = pd.read_excel('files/attecoupe2.xlsx')
data3 = pd.read_excel('files/attecoupe3.xlsx')
data4 = pd.read_excel('files/attecoupe4.xlsx')

In [67]:
data1.columns

Index(['N°', 'Noms et prénoms', 'N°CNI', 'Date de naissance', 'Sexe',
       'Situation géographique',
       'Qualité du chef de ménage (Caractéristiques socioprofessionnelles)',
       'Contacts', 'Observations (Préciser le critère de vulnérabilité)'],
      dtype='object')

In [73]:
import re


def parse_observation(observation):
    # Convertir en minuscule pour faciliter la recherche
    obs = observation.lower()

    # Par défaut, on met None
    situation = None
    pathologie = None
    revenu = None
    nb_enfants = None

    # 1) Situation matrimoniale (exemple : veuf/veuve, célibataire, marié, etc.)
    #    On peut utiliser une liste de mots-clés et chercher le premier qui apparaît
    #    Note : ajustez selon les termes qui apparaissent réellement dans vos données
    situations_possibles = ['veuve', 'veuf', 'célibataire', 'marié', 'divorcé']
    for sit in situations_possibles:
        if sit in obs:
            situation = sit
            break

    # 2) Pathologies (exemple : hypertendu, diabétique, malade chronique, palu, etc.)
    pathologies_possibles = ['hypertendu', 'diabétique', 'malade chronique', 'palu']
    for pat in pathologies_possibles:
        if pat in obs:
            pathologie = pat
            break

    # 3) Revenu
    #    On regarde si on trouve "revenu faible", "revenu moyen", "revenu élevé", etc.
    if 'revenu faible' in obs:
        revenu = 'faible'
    elif 'revenu moyen' in obs:
        revenu = 'moyen'
    elif 'revenu élevé' in obs:
        revenu = 'élevé'
    else:
        # S'il n'y a pas de mention, on peut mettre "inconnu" ou None
        revenu = None

    # 4) Nombre d’enfants
    #    Exemple d’expression régulière pour repérer "3 enfants", "03 enfants", "4 enfants", etc.
    match_enfants = re.search(r'(\d+)\s*(?:enfants?|personnes?)\s+en\s+charge', obs)
    if match_enfants:
        nb_enfants = int(match_enfants.group(1))  # convertit "03" en 3

    # Retourner un tuple ou une liste
    return pd.Series([situation, pathologie, nb_enfants, revenu])

In [74]:
data1[['Situation', 'Pathologie', 'Nb_enfants', 'Revenu']] = data1['Observations (Préciser le critère de vulnérabilité)'].apply(parse_observation)

TypeError: argument of type 'float' is not iterable

In [47]:
data2

,DISTRICT AUTONOME D’ABIDJAN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,REPUBLIQUE DE COTE D’IVOIRE
0,COMMUNE D’ATTECOUBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
96,82,SAMASSI SIAKA,C 0112 7256 42,1997-02-19 00:00:00,M,La paix,Commerçante de pates d'arachides,85130227,"Revenu très faible, 3 enfants et souffre d'un ..."
97,83,OUATTARA GNIREGUE MARIAMA,C 0065 9292 85,1984-07-26 00:00:00,F,La paix,Vendeuse de glace,9614770,Malade (Antécédant d’accident vasculaire céréb...
98,84,KOUADIO ASSO AHOU YVETTE LAURE,C 0074 7809 16,1989-02-09 00:00:00,F,La paix,Vendeuse de serviettes,9314855,"Veuve, Revenu faible et 04 enfants à charge"
99,85,ADOU MOCHIBO HELENE,C 0023 1932 99,1954-09-24 00:00:00,F,Saint joseph,Petite commerçante de boules d’attiéké,8533621,Veuve-diabétique avec 4 enfants à charge dont ...
100,86,KAMAGATE ALIMATA,C 0028 2996 15,1986-01-01 00:00:00,F,OPERA,Vendeuse de jus de fruits,56206559,"Veuve, hypertendue avec 3 enfants à charge"

In [48]:
data3

,DISTRICT AUTONOME D’ABIDJAN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,REPUBLIQUE DE COTE D’IVOIRE
0,COMMUNE D’ATTECOUBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
230,216,KEKE OUDI JOSEPHINE,C 0033 8584 25,1967-04-12 00:00:00,F,GBEBOUTO,Commerçante de fruits et légumes,08 07 97 92,"Veuve, diabétique avec 3 enfants à charge et r..."
231,217,SORO KORIBLE KARIDJATOU,C 0107 6452 81,1998-11-01 00:00:00,F,Agban-village,Vendeuse de jus,04 65 26 26,"Revenu faibe et 3 enfants à charge , diabétique"
232,218,BOTI BI DRI DONATIEN,AI N°1191683054977,1985-06-11 00:00:00,M,Abgan-village,Chauffeur,42 72 52 80,"Revenu faible, 5 enfants à charge, souffre de ..."
233,219,SOUKOU SERI SIMPLICE,C 0023 3269 49,1975-12-30 00:00:00,M,Ecole,Maçon,46 33 79 89,"Revenu faible, 5 personnes à charge, souffre d..."
234,220,LATTE YEDEI ROSE,C 0025 2784 44,1980-06-02 00:00:00,F,Abgan-village,Commençante de soutien-gorge,01 83 18 13,"Revenu Veuve et hypertendue, 05 enfants en cha..."

In [49]:
data4

,DISTRICT AUTONOME D’ABIDJAN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,REPUBLIQUE DE COTE D’IVOIRE
0,COMMUNE D’ATTECOUBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
239,225,BAMBA FATOUMATA,C 0111 9655 40,1992-09-18 00:00:00,F,MOSQUEE,Commerçante de cure-dents,79 55 58 86,"Revenu faible, malade (mal de genou chronique)..."
240,226,ASSAMOI AWOH ESTHERE NICOLE,C 0032 7697 86,1982-12-06 00:00:00,F,OPERA,Commerçante d'arachides,59 53 11 05,"Veuve et diabétique avec 4 enfants en charge, ..."
241,227,SOUKOU SERI SIMPLICE,C 0023 3269 49,1975-12-30 00:00:00,M,LA PAIX,Serveur dans un restaurant,46 33 79 89,"Souffrant d'ulcère avec un revenu très faible,..."
242,228,LATTE YEDEI ROSE,C 0025 2784 44,1980-06-02 00:00:00,F,AGBAN-VILLAGE,Vendeuse d'orange,01 83 18 13,"Revenu faible, souffre, d’antécédant d’acciden..."
243,229,AHOKE AKOU CHRISTIAN YANNICK HONORAT,C 0031 8601 01,1989-01-12 00:00:00,M,BORIBANA,Commerçant de pintates,48 98 74 93,"Revenu faibe et 4 enfants à charge , diabétique"